@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');

@import url('reset.css');
@import url('typography.css');
@import url('messanger.css');


@font-face {
    font-family: 'Klavika';
    src: url('../fonts/klavika-bold.otf');
}

:root {
    --wash: #E4E6EB;
    --blue: #0084ff;
    --green: #42b72a;
    --light-blue: #1877f2;
    --cloud-blue: #e7f3ff;
    --grey-inputs: #f0f2f5;
    --cloud-grey: #BCC0C4;
}

*:not(i) {
    font-family: 'Noto Sans', sans-serif !important;
}

body {
    overflow-y: scroll;
}

main {
    display: flex;
    height: auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid var(--wash);
}

.nav_wrapper .header__logo {
    height: 24px;
}

.right {
    display: flex;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 368px;
    max-width: 368px;
    border-right: solid 1px var(--wash);
    border: solid 1px var(--wash);
    padding-left: 12px;
    height: calc(100vh - 57px);
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    /* padding-left: 20px; */
}

.sidebar__header h1 {
    font-weight: 700;
    font-size: 1.6rem;
}

.sidebar__header__menu {
    display: flex;
    gap: 12px;
    padding-right: 18px;
}


.sidebar__search {
    width: 100%;
    padding-top: 10px;
    padding-right: 18px;

}

.sidebar__search__wrapper {
    display: flex;
    align-items: center;
}

.sidebar__search span {
    display: flex;
    align-items: center;
    background-color: var(--wash);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 0 8px;
}

.sidebar__search__wrapper>.input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-grow: 1;
    flex-grow: 1;
}

.sidebar__search span img {
    width: 14px;
}


.sidebar__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    margin-top: 10px;
}

.sidebar__menu div {
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
}

.sb_m_clicked.sb_m_clicked {
    color: var(--light-blue);
    background-color: var(--cloud-blue);
}


/* History (users) */


div.sidebar__history {
    height: calc(100% - (52px + 46px + 46px +10px));
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

.sidebar__history a {
    text-decoration: none;
    color: initial;
}

.sidebar__history__cell {
    height: auto;
    padding: 8px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    margin-right: 8px;
}

.sidebar__history__cell img {
    width: 100%;
}

.sidebar__history__cell__img_wp {
    max-width: 56px;
    max-height: 56px;
    border-radius: 28px;
    overflow: hidden;
}

.sidebar__history__cell__wrapper {
    padding-left: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__history__cell__username,
.sidebar__history__cell__message {
    margin-bottom: 0;
}

.sidebar__history__cell__username {
    font-weight: 500;
    padding-bottom: 6px;
}

.sidebar__history__cell__message {
    font-weight: 300;
    font-size: 0.9rem;
    color: rgba(77, 74, 74, 0.89)
}

a.active {
    background-color: var(--cloud-blue);
}

.sidebar__history__cell:hover:not(.active) {
    background-color: var(--grey-inputs);
}


/* Chat Area */

.chatarea {
    flex-grow: 1;
    border-top: solid 1px var(--wash);
    display: flex;
    flex-direction: column;
}



.chatarea__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    border-bottom: solid 1px var(--wash);
    height: 64px;
}

.chatarea__header__user {
    padding: 6px 0 6px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.chatarea__header__user .user-info h3 {
    font-size: 1.05rem;
    font-weight: 600;
    padding-top: 10px;
    padding: 0;
}

.chatarea__header__user .user-info p {
    font-weight: 300;
    font-size: 0.8rem;
    padding-top: 5px;
    padding: 0;
}

.user-img-wp img {
    width: 40px;
    border-radius: 20px;
}

.chatarea__header__icons .icons_wp {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.chatarea__header__icons .icons_wp .circle {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: white;
}

.chatarea__header__icons .icons_wp .circle:hover {
    background-color: var(--grey-inputs);
}

.chatarea__header__icons .icons_wp .circle i {
    color: var(--blue);
    font-size: 1.35rem;
}

.chatarea__useraction {
    padding: 12px 0;
    display: flex;
    gap: 6px;
    justify-content: stretch;
    /* border-top: solid 1px var(--wash); */
}

.chatarea__useraction .circle {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    color: var(--light-blue);
    background-color: white;
}

.chatarea__useraction .circle:hover {
    font-size: 1.2rem;
    color: var(--light-blue);
    background-color: var(--wash);
}

.useraction_container {
    display: flex;
    gap: 4px;
}

.useraction__input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.useraction__input>input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1;
    padding-left: 12px;

}

.useraction__input>span {
    display: flex;
    align-items: center;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: var(--wash);
    padding-right: 8px;
}

.useraction__input>span>i {
    color: var(--light-blue);
    font-size: 1.2rem;
}

.useraction__input>span>i {}

.useraction__like-btn .circle>i {
    font-size: 1.3rem;
    margin-right: 4px;
}

/* Messages */
.chatarea__messages {
    height: calc(100vh - 64px - 57px - 60px - 1px);
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow-x: none;
    overflow-y: auto;
    gap: 6px;
}

.chatarea__messages__wrapper {
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.message_row {
    height: 36px;
    display: flex;
    align-items: center;

}

.message_row__content {
    border-radius: 18px;
    height: 100%;
    display: flex;
    justify-content: baseline;
    padding: 8px 16px;
    margin-left: 8px;
}






/* Profile Info */

.profile_info {
    /* display: none; */
    height: auto;
    min-width: 380px;
    padding-top: 20px;
    border: solid 1px var(--wash);
    padding: 14px 14px 0 7px;
}

.profile_info__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_info__header h3 {
    font-size: 1.05rem;
    font-weight: 600;
    padding-top: 10px;
}

.profile_info__header p {
    font-weight: 300;
    font-size: 0.8rem;
    padding-top: 5px;
}

.profile_info__header__img_wp {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.profile_info__icons_wp {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile_info__icons_wp .icon-box {
    width: 69px;
    padding-right: 6px 3px 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;

}

.profile_info__icons_wp .icon-box i {
    font-size: 1.3rem;
}

.profile_info__icons_wp .icon-box p {
    text-overflow: wrap;
    font-weight: 300;
    margin-top: 4px;
    text-align: center;
    line-height: 16px;
}

.profile_info__dropdown-wp {
    margin-top: 28px;
    padding-right: 14px;
}

.profile_info__dropdown-wp .dropdown h4 {
    font-size: 0.9rem;
    font-weight: 600;
}