.circle {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 18px;
    background-color: #f0f2f5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle--big {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #f0f2f5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle__img {
    height: 100%;
}

.input {
    height: 36px;
    width: auto;
    border: 0px solid;
    outline: none;
    background-color: var(--wash);
    border-radius: 18px;
}

input:focus {
    border: 0px solid;
}


.cont-height {
    height: 36px;
}

.cont-box {
    border-radius: 18px;
    padding-right: 12px;
    padding-left: 12px;

}

.profile_info__header__img_wp {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    height: 44px;
    border-radius: 8px;
    padding-left: 8px;
}

.dropdown:hover {
    background-color: var(--wash);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.message_row__content {
    background-color: var(--light-blue);
    border-radius: 18px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
}


/* Chat area message types */


/* Friend message row */
.fr {
    justify-content: flex-start;
}

/* Current user message row */
.user {
    justify-content: flex-end;
}

/* Friend message row - image */
.message_row.fr .circle {
    width: 28px;
    height: 28px;
}

.message_row.user>.message_row__content {
    background-color: var(--light-blue);
    color: white;
}

.message_row.fr>.message_row__content {
    background-color: var(--wash);
    color: black;
}

/* USER Messages */

/* - uslm -> user single line message -> all borders have same radius */
.uslm {
    border-radius: 18px;
}

/* - uflm -> first line message */
.uflm {
    border-bottom-right-radius: 5px !important;
}

/* - umlm -> middle line message */
.umlm {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

/* - ullm -> last line message */
.ullm {
    border-top-right-radius: 5px !important;
}



/* FRIEND Messages */
.fslm {
    border-radius: 18px;
}

.fflm {
    border-bottom-left-radius: 5px !important;
}

.fmlm {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.fllm {
    border-top-left-radius: 5px !important;
}

/*
    - fslm -> single line message -> all borders have same radius
    - fflm -> first line message
    - fmlm -> middle line message
    - fllm -> last line message
*/